Package: veency
Conflicts: com.saurik.iphone.vncs
Replaces: com.saurik.iphone.vncs
Priority: optional
Section: Networking
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 0.9.3023-1
Description: a VNC /server/ for the iPhone
Name: Veency
Depends: mobilesubstrate (>= 0.9.2966-1), libvncserver, com.saurik.iphone.ske, preferenceloader
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/veency/
Tag: purpose::daemon, role::enduser
